# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json
.env

# Logs
logs/
*.log
yarn-debug.log
yarn-error.log

# Editor-specific files
.vscode/
.idea/
.DS_Store

# Build files
dist/
build/
